{% extends 'base.html' %}



{% block content %}

<h1>{{ object.title }}</h1>
<img src="{{ object.image.url }}" alt="image" width="350px" height="300px">
<p>{{object.content }}</p>
<form action="" method="POST">
    {% csrf_token %}
    {{form}}
    <button type="submit">Comment</button>
</form>

{% for comment in object.comments %}
<p>comment by {{user}}</p>  
{{comment.content}}
<hr>
{% endfor %}
    
<form action="{% url 'blogapp:like' object.slug %}" method="post">
    {% csrf_token %}
    <input type="hidden", name="post">
    <input type="hidden", name="user">
    <button type="submit" >Like</button> {{object.like_count}}
</form>

{% endblock content %}
    